@model Group1RazorPages.ViewModels.FilterViewModel

<div class="form-group d-flex align-items-center">
    <label for="Role">Role: </label>
    <select name="Role" class="form-control" asp-for="@Model.SelectedRoleOption" onchange="this.form.submit();">
        <option value="@null">Select Role</option>
        @foreach (var option in @Model.RolesList)
        {
            <option value="@option.Value">@option.Text</option>
        }
    </select>
</div>
